.ng-invalid:not(form)  {
  border-bottom: 2px solid #9a0200; /* red */
  color: #9a0200;
}

.navbar-inverse {
  -webkit-box-shadow: 0 10px 6px -6px #999;
  -moz-box-shadow: 0 10px 6px -6px #999;
  box-shadow: 0 10px 6px -6px #999;
}

body{
  min-width:454px;
}

.material-icons:hover {
  color: rgb(51, 191, 216);
}
